<header>
    <div class="container">
        <div id="logo"> <a href="/">filnemateca</a></div>
        
        <form action="/busca">
            <input type="search" name="busca" id="busca">
        </form>
    </div>
</header>